[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
mistralai = "*"
python-dotenv = "*"
anthropic = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
openai = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
